@charset "UTF-8";

* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
	font-family:Verdana;
}

#wrap {
	width: 100%;
	min-height: 100%;
	
}

#threadbar {
	padding: 1em 1em 1em 1em;
	margin: 0.5em 1em 0.5em 0.5em;
	float: left;
	position: static;
	height: 100%;
	border: 1px dashed;
	width: 15%;
	min-width: 10em;
}

.threadentry {
	background-color: rgb(223, 224, 235);
}

#thread {
	min-width: 40em;
	width: 75%;
	float: right
}

.threadheader {
	background-color: rgb(223, 224, 235);
	margin: 0.5em 0.5em 0.5em 0em;
	padding: 0.2em 0.5em 0.2em 0.5em;
}

.post {
	background-color: rgb(233, 234, 245);
	margin: 0.5em 0.5em 0.5em 0em;
	padding: 0.2em 0.5em 0.2em 0.5em;
}

.info {
	float: right;
	
}

#postbox {
	margin: 1em 0.5em 0.5em 0.5em;
	clear: both;
}
