@charset "UTF-8";

* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
	font-family:Verdana;
}

#wrap {
	width: 100%;
	min-height: 100%;
	
}

#threadbar {
	padding: 1em 1em 1em 1em;
	margin: 0.5em 1em 0.5em 0.5em;
	float: left;
	position: static;
	height: 100%;
	border: 1px dashed;
	width: 15%;
	min-width: 10em;
}

.threadentry {
	background-color: rgb(223, 224, 235);
}

#thread {
	min-width: 40em;
	width: 75%;
	float: right
}

.threadheader {
	background-color: rgb(223, 224, 235);
	margin: 0.5em 0.5em 0.5em 0em;
	padding: 0.2em 0.5em 0.2em 0.5em;
}

.post {
	background-color: rgb(233, 234, 245);
	margin: 0.5em 0.5em 0.5em 0em;
	padding: 0.5em 0.5em 0.2em 0.5em;
	display: block;
	
	border-top-right-radius: 1.0em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 1.0em;
	border-bottom-right-radius: 0.5em;
	border-left: 1px dashed;
}

.textbox {
	width: 80%;
	min-height: 3em;
	word-wrap: break-word;
}

.info {
	float: right;
	display: inline;
	width: 20%;
	padding-left: 0.5em;
	border-left: 1px solid white;
}

#postbox {
	margin: 1em 0.5em 0.5em 0.5em;
	clear: both;
}
