<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/nerdtalk.css" media="screen, projection" />
<title>{{.Title}}</title>
</head>
<body>
<div id="wrap">
<header>
<div id="headbar">
	<div id="userinfo">
	{{if .User}}
		logged in as <a href="/user/{{.User.Nick}}">{{.User.Name}}</a>
		<form id="logout" action="/logout" method="POST">
		<input type="hidden" name="redirect" value="true" />
		<input type="submit" value="logout" /></form>
	{{else}}
	<form id="Login" action="/login/" method="POST">
		Nick: <input type="text" name="Nick" />
		Pass: <input type="password" name="Password" />
		<input type="hidden" name="redirect" value="true" />
		<input type="submit" value="Go" /></form>
	{{end}}
	</div>
<!-- //TODO user info, login/out button... -->
</div>
</header>
<div id="threadbar"><nav>
	{{range .Threads}}<div class="threadentry" id="{{.ID.Hex}}">
		<span class="title"><a href="/thread/{{.ID.Hex}}/{{.SafeTitle}}">{{.Title}}</a></span>
		<!--<a href="/user/{{.Author.ID.Hex}}/{{.Author.Nick}}"><span class="author" id="{{.Author.ID.Hex}}">{{.Author.Name}}</span></a>-->
		<!-- //TODO: add post count n stuff -->
	</div>{{end}}
</nav></div>
<div id="thread"><section>{{$time := .Date}}
	<h2 class="threadheader"><a href="/thread/{{.Thread.ID.Hex}}/{{.Thread.SafeTitle}}">{{.Thread.Title}}</a></h2>
	{{range .Posts}}<article><div class="post" id="{{.ID.Hex}}">
		<aside><div class="info">
			<span class="author"><a href="/user/{{.Author.Nick}}">{{.Author.Name}}</a></span>
			<span class="date">{{.Created}}</span>
			<span class="likes">Likes: {{len .Likes}}</span>
		</div></aside>
		<div class="textbox">{{.Text}}</div>
	</div></article>{{end}}
	<div id="postbox">
		<form action="/add/post/{{.Thread.ID.Hex}}?redirect=true" method="POST">
			<textarea name="Text" cols="50" rows="5"></textarea>
			<input type="submit" value="Post">
		</form>
	</div>
</section></div>
</div>
</body>
</html>