<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{.Title}}</title>
</head>
<body>
<header>
<!-- //TODO user info, login/out button... -->
</header>
<aside><nav>
<div id="threadbar">
	{{range .Threads}}<div class="entry" id="{{.ID.Hex}}">
		<a href="/thread/{{.ID.Hex}}-{{.SafeTitle}}"><span class="title">{{.Title}}</span></a>
		<a href="/user/{{.Author.ID.Hex}}-{{.Author.Nick}}"><span class="author" id="{{.Author.ID.Hex}}">{{.Author.Name}}</span></a>
		<!-- //TODO: add post count n stuff -->
	</div>{{end}}
</div>
</nav></aside>
<section>
<a href="/thread/{{.Thread.ID.Hex}}-{{.Thread.SafeTitle}}"><h2 class="threadheader">{{.Thread.Title}}</h2></a>
<div id="thread">
	{{range .Posts}}<article><div class="entry" id="{{.ID.Hex}}">
		<span class="text">{{.Text}}</span>
		<aside><footer><div class="info">
			<span class="author">{{.Author.Name}}</span>
			<span class="date">{{.Created}}</span>
			<span class="likes">Likes: {{len .Likes}}</span>
		</div></footer></aside>
	</div></article>{{end}}
</div>
</section>
</body>
</html>